*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fdf0d5;
    text-align: center;
    color: #003049;
}
#new-btn{
    height: 8vmin;
        width: 20vmin;
        border-radius: 1rem;
        border: none;
        background-color: #003049;
        color: #fdf0d5;
        padding: 1rem;
        margin: 1rem;
        transition: 0.2s;
        font-size: large;
}
#new-btn:hover{
    background-color: #669bbc;
}
h1{
    color: #003049;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.container{
    height: 70vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.8vmin;
}
.box{
    height: 18vmin;
    width:18vmin;
    background-color: #669bbc;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    color: #780000;
    transition: 0.2s;
    font-size: 8vmin;
    font-weight: bold;
}
.box:hover{
    background: #003049;
    color: #fdf0d5;
}
#reset-btn{
    height: 8vmin;
    width: 12vmin;
    border-radius: 1rem;
    border:none;
    background-color:#003049;
    color: #fdf0d5;
    padding: 1rem;
    margin: 1rem;
    transition: 0.2s;
}
#reset-btn:hover{
    background-color: #669bbc;
}