*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    background-color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
    border: none;
}
.choice{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    cursor: pointer;
    margin: 50px;
}
.choice:hover{
    opacity:0.8;
    background-color: brown;
}
img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 20px;
    background-color: bisque;
    color: brown;
    margin: 30px;
    padding: 20px;
    border: none;
    gap: 1.5rem;
}
.msg-container{
    background-color: brown;
    color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
}
button{
    background-color: brown;
    color: beige;
    font-size: medium;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius:20px;
}
